<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.htlc.muchong"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.NFC" />

    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>

    <uses-sdk android:minSdkVersion="11" android:targetSdkVersion="17" />
    <permission android:name="${applicationId}.permission.JPUSH_MESSAGE" android:protectionLevel="signature" />
    <uses-permission android:name="${applicationId}.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />


    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.LoginActivity"/>
        <activity android:name=".activity.RegisterActivity"/>
        <activity android:name=".activity.QiangListActivity"/>
        <activity android:name=".activity.PaiListActivity"/>
        <activity android:name=".activity.PaiDetailActivity"/>
        <activity android:name=".activity.JianListActivity"/>
        <activity android:name=".activity.JianDetailActivity"/>
        <activity android:name=".activity.ProductListActivity"/>
        <activity android:name=".activity.ProductDetailActivity"/>
        <activity android:name=".activity.CangDetailActivity"/>
        <activity android:name=".activity.PersonActivity"/>
        <activity android:name=".activity.TaLikeActivity"/>
        <activity android:name=".activity.ShoppingCartActivity"/>
        <activity android:name=".activity.UserActivity"/>
        <activity android:name=".activity.SettingActivity"/>
        <activity android:name=".activity.JianDingActivity"/>
        <activity android:name=".activity.UpdateInfoActivity"/>
        <activity android:name=".activity.UpdateInfoAreaActivity"/>
        <activity android:name=".activity.PublishActivity"/>
        <activity android:name=".activity.JiaoListActivity"/>
        <activity android:name=".activity.CommentListActivity"/>
        <activity android:name=".activity.CangPublishActivity"/>
        <activity android:name=".activity.JianPublishActivity"/>
        <activity android:name=".activity.JianResultPublishActivity"/>
        <activity android:name=".activity.PostPublishActivity"/>
        <activity android:name=".activity.PostDetailActivity"/>
        <activity android:name=".activity.CreateOrderActivity"/>

        <activity android:name=".activity.MyJianListActivity"/>
        <activity android:name=".activity.MyPostListActivity"/>
        <activity android:name=".activity.ResetTelActivity"/>
        <activity android:name=".activity.AddressActivity"/>
        <activity android:name=".activity.EditAddressActivity"/>
        <activity android:name=".activity.MyMessageListActivity"/>
        <activity android:name=".activity.WebActivity"/>
        <activity android:name=".activity.MyPaiListActivity"/>
        <activity android:name=".activity.PayListActivity"/>
        <activity android:name=".activity.SearchActivity"/>
        <activity android:name=".activity.OrderListActivity"/>
        <activity android:name=".activity.FeedbackActivity"/>
        <activity android:name=".activity.PayActivity"/>
        <activity android:name=".activity.ImageActivity"/>

        <!-- Ping++ SDK -->
        <activity
            android:name="com.pingplusplus.android.PaymentActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity-alias
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:targetActivity="com.pingplusplus.android.PaymentActivity" />
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" >
        </activity>
        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" >
        </activity>
        <activity android:name="com.unionpay.uppay.PayActivity" />


        <!--ShareSdk-->
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" >

            <intent-filter>
                <data android:scheme="tencent100371282" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
       <!-- <activity
            android:name=".wxapi.WXEntryActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait" />-->


        <!--Jpush-->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true" >
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" />
                <category android:name="${applicationId}"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false" >
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="${applicationId}" />
            </intent-filter>
        </activity>
        <service
            android:name="cn.jpush.android.service.DownloadService"
            android:enabled="true"
            android:exported="false" >
        </service>
        <receiver android:name="cn.jpush.android.service.AlarmReceiver" />
        <receiver
            android:name=".receiver.JpushReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" />
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" />
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" />
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" />
                <action android:name="cn.jpush.android.intent.ACTION_RICHPUSH_CALLBACK" />
                <action android:name="cn.jpush.android.intent.CONNECTION" />
                <category android:name="${applicationId}" />
            </intent-filter>
        </receiver>
        <meta-data android:name="JPUSH_CHANNEL" android:value="developer-default"/>
        <meta-data android:name="JPUSH_APPKEY" android:value="9c6bdd8167aa063db2dfd2d9"/>
    </application>

</manifest>
