<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.htlc.muchong"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.LoginActivity"/>
        <activity android:name=".activity.RegisterActivity"/>
        <activity android:name=".activity.QiangListActivity"/>
        <activity android:name=".activity.PaiListActivity"/>
        <activity android:name=".activity.PaiDetailActivity"/>
        <activity android:name=".activity.JianListActivity"/>
        <activity android:name=".activity.JianDetailActivity"/>
        <activity android:name=".activity.ProductListActivity"/>
        <activity android:name=".activity.ProductDetailActivity"/>
        <activity android:name=".activity.CangDetailActivity"/>
        <activity android:name=".activity.PersonActivity"/>
        <activity android:name=".activity.TaLikeActivity"/>
        <activity android:name=".activity.ShoppingCartActivity"/>
    </application>

</manifest>
