<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.htlc.muchong"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.NFC" />

    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>

    <uses-sdk android:minSdkVersion="11" android:targetSdkVersion="17" />
    <permission android:name="${applicationId}.permission.JPUSH_MESSAGE" android:protectionLevel="signature" />
    <uses-permission android:name="${applicationId}.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />


    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name="com.htlc.muchong.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.LoginActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.RegisterActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.QiangListActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.PaiListActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.MerchantOrderListActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.ExpressActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.PaiDetailActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.JianListActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.BrowserActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.JianDetailActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.ProductListActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.ProductDetailActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.PostPublishSchoolActivity"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.CangDetailActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.PersonActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.TaLikeActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.ShoppingCartActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.UserActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.SettingActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.JianDingActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.UpdateInfoActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.UpdateInfoAreaActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.PublishActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.JiaoListActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.CommentListActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.CangPublishActivity"/>
        <activity android:name=".activity.JianPublishActivity"/>
        <activity android:name=".activity.JianResultPublishActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".activity.PostPublishActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.PostDetailActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.CreateOrderActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.MyJianListActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.MyPostListActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.ResetTelActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.AddressActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.EditAddressActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.MyMessageListActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.WebActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.MyPaiListActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.PayListActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.SearchActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.OrderListActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.FeedbackActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.PayActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.ImageActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.SchoolListActivity"
            android:screenOrientation="portrait"/>

        <!-- Ping++ SDK -->
        <activity
            android:name="com.pingplusplus.android.PaymentActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity-alias
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:targetActivity="com.pingplusplus.android.PaymentActivity" />
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" >
        </activity>
        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" >
        </activity>
        <activity android:name="com.unionpay.uppay.PayActivity" />


        <!--ShareSdk-->
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" >

            <intent-filter>
                <data android:scheme="tencent100371282" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 微信支付 start -->
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:label="微信支付">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="wx508c34abf751bf9c" />
            </intent-filter>
        </activity>
        <!-- 微信支付 end -->



        <!--Jpush-->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true" >
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" />
                <category android:name="${applicationId}"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false" >
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="${applicationId}" />
            </intent-filter>
        </activity>
        <service
            android:name="cn.jpush.android.service.DownloadService"
            android:enabled="true"
            android:exported="false" >
        </service>
        <receiver android:name="cn.jpush.android.service.AlarmReceiver" />
        <receiver
            android:name=".receiver.JpushReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" />
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" />
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" />
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" />
                <action android:name="cn.jpush.android.intent.ACTION_RICHPUSH_CALLBACK" />
                <action android:name="cn.jpush.android.intent.CONNECTION" />
                <category android:name="${applicationId}" />
            </intent-filter>
        </receiver>
        <meta-data android:name="JPUSH_CHANNEL" android:value="developer-default"/>
        <meta-data android:name="JPUSH_APPKEY" android:value="9c6bdd8167aa063db2dfd2d9"/>
    </application>

</manifest>
